html {
  height: 100%;
}
/* body {
  height: 100%;
} */

.everything {
  display: flex;
  height: 1000px;
  width: 100%;
  justify-content: center;
}

.enterTitle {
  /* line-height: 400px; */
  margin-top: 400px;
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Geneva", sans-serif;
}

/* .splash {
    width: 600px;
    position: absolute;
    right: -100px;
    top: 40px;
    z-index: -10; */
/* } */
.stuff {
  /* background-image: url('/images/splash.svg');
  background-size: 1602px 1321px;
  background-repeat: no-repeat; */
}
.stuff {
  background-image: url('/images/splash.svg');
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1000px;
  height: 1000px;
  background-size: 1100px 1384px;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.moreStuff {
  background-image: url('/images/splash2.svg');
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  left: 5%;
  top: 5%;
  width: 650px;
  height: 650px;
  background-size: 1150px 1084px;
  z-index: -1;
  transform: scaleX(-1) translate(-800px, 100px);
}
