html {
  height: 100%;
}

.everything {
  display: flex;
  height: 1000px;
  width: 100%;
  justify-content: center;
}

.enterTitle {
  /* line-height: 400px; */
  margin-top: 400px;
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
