body {
  margin: 0;
}
.about {
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
  width: 100%;
  height: 100px;
}

.about1 {
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  width: 40%;
  height: 500px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}
h2 {
  text-shadow: 2px 2px #FFFFFF;
}
h3 {
  text-shadow: 2px 2px #F06577;
  text-align: center;
}

#aboutHeader {
  text-align: center;
  font-size: 70px
}
