.home_button {
  background-color: lightgrey;
  text-align: center;
  font-size: 24px;
  padding: 24px 160px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0
  rgba(0,0,0,0.19);
  opacity: .6;
  transition: 0.3s;
  display:inline-block;
  cursor: pointer;
}

.submit_button {
  background-color: lightgrey;
  text-align: center;
  font-size: 24px;
  padding: 12px 28px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0
  rgba(0,0,0,0.19);
  opacity: .6;
  transition: 0.3s;
  display:inline-block;
  cursor: pointer;
}

.unit_input {
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 12px 160px;
  font-size: 18px;
}

h1 {
  font-family: "Geneva", sans-serif;
}
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #d74742;
  margin: 0;
}

.homePage {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.enterPage {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.formFlex {
  display: flex;
  flex-direction: row;
}

#enterTitle {

}
