.home_button {
  background-color: lightgrey;
  text-align: center;
  font-size: 18px;
  padding: 24px 160px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0
  rgba(0,0,0,0.19);
  opacity: .6;
  transition: 0.3s;
  display:inline-block;
  cursor: pointer;
  font-family: "Geneva", sans-serif;
}

.submit_button {
  background-color: lightgrey;
  text-align: center;
  font-size: 24px;
  padding: 12px 28px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0
  rgba(0,0,0,0.19);
  opacity: .6;
  transition: 0.3s;
  display:inline-block;
  cursor: pointer;
}

.unit_input {
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 12px 160px;
  font-size: 18px;
}

#signup_body {
  font-family: "Geneva", sans-serif;
  font-size: 24px;
}

body {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-attachment: fixed;
  margin: 0;
}

.enterPage {
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

html {
  height: 100%;
}

.formFlex {
  display: flex;
  flex-direction: row;
}

/* h1 {
  font-family: "Geneva", sans-serif;
} */



h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 3rem;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	color: #343434;
}


.plus-button {
	border: 2px solid lightblue;
	background-color: #fff;
	font-size: 16px;
	height: 2.5em;
	width: 2.5em;
	border-radius: 999px;
	position: relative;

	&:after,
	&:before {
		content: "";
		display: block;
		background-color: grey;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:before {
		height: 1em;
		width: 0.2em;
	}

	&:after {
		height: 0.2em;
		width: 1em;
	}
}

.homebody {
  display: flex;
  flex-flow: column;
  align-items: center;

}

.divhome {
  display: flex;
  padding: 10px;
}
