<!DOCTYPE html>


<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <center>
      <h1>Meet Your Makers</h1>
    </center>
    <div class="about">
    </div>
    <div class="about1">
      <center>
      <h2>Hey Everyone!</h2>
      </center>
      <center>
      <p>The Unit is a blooming multi-use task manager web-application that is dedicated to
      optimizing users' everyday accountability and productivity through simplistic and efficient
      task organization.</p>
      </center>
    </div>
  </body>
</html>
