<!DOCTYPE html>


<html>
  <head>
    <meta charset="utf-8">
    <title>Enter Unit Name</title>
    <link rel="stylesheet" href="stylesheets/unitStyle.css">
    <link rel="stylesheet" href="stylesheets/enter.css">
  </head>
  <body class="enterPage">
    <div class="stuff">
    <h2 class="enterTitle">Enter Unit Name</h2>
    <div class="everything">
      <div class="center">
        <form class="formFlex" action="/enter" method="POST">
          <input class="unit_input" type="text" placeholder="Enter unit name" name="group">
        <button class="submit_button" type="submit" name="button">Next</button>
        </form>
      </div>
    </div>
  </div>
  </body>
</html>
