<!DOCTYPE html>
<html>
  <head>
    <title>Find Your Unit</title>
    <link rel="stylesheet" href="stylesheets/unitStyle.css">
  </head>
  Welcome {{first_name}} {{last_name}} ({{member_email}})!
  <br>
  <a href="{{signout_link}}">Sign Out</a>
  <body>
    <center>
    <img src="images/logo.jpg" alt="unit logo">
    <h1><u>My Units</u></h1>
    {% for unit in unit_list%}
      {% for member_key in unit.members %}
        {% if member_email == member_key.get().email%}
          <div>
            <a href="/individual?group={{unit.key.urlsafe()}}">
            <button class="home_button" type="button" name="button">{{unit.unit_name}}</button>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <div>
      <br>
      <a href="/enter">
        <button class="plus-button" type="button" name="button" onclick="window.location.href = '/enter';">+</button>
      </a>
    </div>
    <br>
    <a href="/about">About Us</a>
    </center>
  </body>
</html>
