<!DOCTYPE html>
<html>
  <head>
    <title>Find Your Unit</title>
    <link rel="stylesheet" href="stylesheets/unitStyle.css">
  </head>
  <body>
    <center>
    <img src="images/logo.jpg" alt="unit logo">
    <h1><u>My Units</u></h1>
    <div>
      <a href="/individual">
      <button class=home_button type="button" name="button" onclick="window.location.href = '/individual';" >Unit 1</button>
      </a>
    </div>
    <div>
      <a href="/enter">
        <button class=home_button type="button" name="button" onclick="window.location.href = '/enter';">Create</button>
      </a>
    </div>
    </center>
  </body>
</html>
