<!DOCTYPE html>


<html>
  <head>
    <title>Unit Tasks</title>
    <link rel="stylesheet" href="stylesheets/unitStyle.css">
    <link rel="stylesheet" href="stylesheets/individual.css">
  </head>
  <body>
    <center>
    <h1>{{unit.unit_name}}</h1>
    <br>
    <h2>My Tasks</h2>
    <form class="" action="/individual?group={{unit.key.urlsafe()}}" method="post">
    <input type="hidden" name="unit_key" value="{{unit.key.urlsafe()}}">
    {% for taskkey in unit.task_keys %}
    {% set task = taskkey.get()%}
    {% if task.finished == False%}
    {% set task_owner_key = task.owner %}
    {% set UnitUser_owner = task_owner_key.get() %}
    {% set UnitUser_email = UnitUser_owner.email %}
    {% if user_email == UnitUser_email%}
    <input type="checkbox" name="{{taskkey.urlsafe()}}"><h3 class="individualbutton">{{task.task_name}} Owner: {{UnitUser_email}}</h3><br>
    <br>
    {% endif %}
    {% endif %}
    {% endfor %}
    <h2>Team Tasks</h2>
    {% for taskkey in unit.task_keys %}
      {% set task = taskkey.get()%}
      {% set task_owner_key = task.owner %}
      {% set UnitUser_owner = task_owner_key.get() %}
      {% set UnitUser_email = UnitUser_owner.email %}
        {% if task.finished == False%}
          {% if user_email != UnitUser_email%}
    <button class="teambutton" type="button">{{task.task_name}} Owner: {{UnitUser_email}}</button><br>
          {% endif %}
      {% endif %}
    {% endfor %}
    <h2>Finished Tasks</h2>
    {% for taskkey in unit.task_keys %}
      {% set task = taskkey.get()%}
      {% set task_owner_key = task.owner %}
      {% set UnitUser_owner = task_owner_key.get() %}
      {% set UnitUser_email = UnitUser_owner.email %}
        {% if task.finished == True%}
    <button class="finishedbutton" type="button">{{task.task_name}} Owner: {{UnitUser_email}}</button><br>
    {% endif %}
    {% endfor %}
    <button class=submit_button type="submit">Submit Progress</button>
    </form>
    </center>
    <br>
    <center>
    <button class="submit_button"onclick="window.location.href = '/';">Back</button>
    </center>
  </body>
</html>
