<!DOCTYPE html>


<html>
  <head>
    <title>Unit Tasks</title>
    <link rel="stylesheet" href="stylesheets/unitStyle.css">
    <link rel="stylesheet" href="stylesheets/individual.css">
  </head>
  <body>
    <center>
    <h1>{{unit.unit_name}}</h1>
    <br>
    <h2>My Tasks</h2>
    {% for taskkey in unit.task_keys %}
    {%set task = taskkey.get()%}

    <input type="checkbox" name="taskkeyname" value="">{{task.task_name}}<br>
    <br>
    {% endfor %}
    <h2>Team Tasks</h2>
    <input type="checkbox" name="Input Task">
    </center>
    <br>
    <center>
    <button onclick="window.location.href = '/';">Back</button>
    </center>
  </body>
</html>
