<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="stylesheets/unitStyle.css">
    <link rel="stylesheet" href="stylesheets/enter.css">
  </head>
  <body class="enterPage">
    <a href="{{signout_link}}">Sign Out</a>
    <h2 class="enterTitle">Welcome to The Unit, {{member_email}}!  Please sign up!</h2>
    <div class="everything">
      <div class="center">
        <form class="formFlex" method="POST" action="/">
          <input class="unit_input" type="text" name="first_name" placeholder="Enter First Name">
          <input class="unit_input" type="text" name="last_name" placeholder="Enter Last Name">
        <button class="submit_button" type="submit" name="button">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
