<!DOCTYPE html>


<html>
  <head>
    <title>Make A Unit</title>
    <link rel="stylesheet" href="stylesheets/unitStyle.css">
  </head>
  <body>
      <center>
          <form method="POST" action="/individual">
    <h1>Unit: {{unit.unit_name}}</h1>
    <div>
      <h2>+Add Tasks</h2>
      <ul>
        {%for taskkey in unit.task_keys%}

        <li>{{taskkey.get().task_name}}</li>
        {% endfor %}
      </ul>
      <p>{{unit_key}}</p>
    </div>
      <input type="text" name="task">
      <input type="hidden" name="currentname" value="{{unit_key}}">
      <br>
      <div>
        <h2>+Add Members</h2>
      </div>
    <button class=submit_button type="submit" name="button">Finish</button>
      </center>
    </form>
  </body>
</html>
