<!DOCTYPE html>


<html>
  <head>
    <title>Make A Unit</title>
    <link rel="stylesheet" href="stylesheets/unitStyle.css">
  </head>
  <body>
      <center>
          <form method="POST" action="/individual">
    <h1>Unit: {{unit.unit_name}}</h1>
    <div>
      <h2>+Add Tasks</h2>
      <ul>
        {%for taskkey in unit.task_keys%}
        {%set ownerkey = taskkey.get().owner%}
        <li>Task: {{taskkey.get().task_name}} (Owner: {{ownerkey.get().email}})</li>
        {% endfor %}
      </ul>
    </div>
      <input type="text" name="task">
      <input type="hidden" name="currentname" value="{{unit_key}}">
      <br>
      <button class=submit_button type="submit" name="button">Add</button>
      <div>
        </form>
        <form method="POST" action="/individual">
        <h2>+Add Members</h2>
        <ul>
          {% for userkey in unit.members%}
          <li>{{userkey.get().email}}</li>
          {% endfor %}
        </ul>
      </div>
      <input type="text" name="user">
      <input type="hidden" name="currentname" value="{{unit_key}}">
      <br>
    <button class=submit_button type="submit" name="button">Add</button>
      </center>
    </form>
    <button onclick="window.location.href = '/';">Create</button>
    <form class="" action="/randomize_assignment" method="POST">
      <input type="hidden" name="currentname" value="{{unit_key}}">
      <button class=submit_button type="submit" name="button">Randomize</button>
    </form>
  </body>
</html>
