<!DOCTYPE html>


<html>
  <head>
    <title>Make A Unit</title>
    <link rel="stylesheet" href="stylesheets/unitStyle.css">
  </head>
  <body>
      <center>
          <form method="POST" action="/task">
    <h1>Unit: {{unit.unit_name}}</h1>

      <h2 class=task_titles>Your Tasks</h2>
      <div class="divclass" align="left">
      <ul style="list-style: none;">
        {%for taskkey in unit.task_keys%}
        {%set ownerkey = taskkey.get().owner%}
        <li class="displaytask">{{taskkey.get().task_name}} (Owner: {{ownerkey.get().email}})</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
    </div>
      <input type="text" name="task">
      <input type="hidden" name="currentname" value="{{unit_key}}">
      <br>
      <button class=submit_button type="submit" name="button">Add</button>
      <div>
        </form>
        <form method="POST" action="/task">
        <h2 class=task_titles>Your Members</h2>
        <div class="divclass2" align="left">
        <ul style="list-style: none;">
          {% for userkey in unit.members%}
          <li>{{userkey.get().email}}</li>
          {% endfor %}
        </ul>
        </div>
      </div>
      <input type="text" name="user">
      <input type="hidden" name="currentname" value="{{unit_key}}">
      <br>
    <button class=submit_button type="submit" name="button">Add</button>
      </center>
    </form>
    <div class="centeringbuttons">


    <button class="submit_button" onclick="window.location.href = '/';">Create</button>
    <form class="" action="/randomize_assignment" method="POST">
      <input type="hidden" name="currentname" value="{{unit_key}}">
      <button class="submit_button" type="submit" name="button">Randomize</button>
    </form>
    </div>
  </body>
</html>
